/* ini css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.main-header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr{
    width: 100%;
}

.text-container{
    padding-left: 70px;
    width: 100%;
    padding-top: 5px;
}

.text-container li {
    width: 90%;
    font-weight: normal;
}

nav{
    display: flex;
    padding-right: 100px;
}


nav > a{
    padding: 8px 40px 8px;
    border: 1px solid;
    color: black;
    text-decoration: none;
}

.rounded-left{
    border-radius: 5px 0px 0px 5px;
}

.rounded-right{
    border-radius: 0px 5px 5px 0px;
}

.logo-icon{
    height: 50px;
    width: 50px;
    background-image: url(../assests/logo.jpg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.photo-banner{
    width: 1366px;
    height: 578px;
}

.photo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.photo-container button{
    height: 20%;
    background-color: transparent;
    border: none;
}

.photo-container button:hover {
    height: 20%;
    background-color: lightgray;
    border: 1px solid black;
}

.photo-container button span {
    font-size: 40px;
}

.profile-icon{
    height: 200px;
    width: 200px;
    background-image: url(../assests/toped.png); 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid;
}

.profile-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-company-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
}

.about-company-container>h3 {
    margin: 0px;
    font-size: 20px;
}

.about-company-container > h4 {
    text-align: center;
    font-weight: normal;
}

#vision{
    margin-top: 0px;
}

#section-portfolio h3 {
    text-align: center ;
}

#section-portfolio h4 {
    text-align: justify;
}

.form-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.message-container{
    padding-bottom: 70px;
    padding-right: 70px;
}

.container-input{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.class-name-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.class-dot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nama-table {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.input-table{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.radio-gap{
   margin-top: 3px; 
   margin-bottom: 5px
}

.result-container{
    border: 2px solid black;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}

form button {
    width: 81.3%;
    padding: 5px;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}

li::marker {
    margin-right: 0%;
}

@media only screen and (max-width: 768px) {
    .main-header {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 0px;
        gap: 12px;
    }

    .menu {
        flex-direction: column;
        gap: 12px;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0px;
    }

    .menu a {
        text-align: center;
    }

    .text-container {
        padding: 0px;
        width: 100%;
    }
    .about-company-container{
    padding-right: 10px;
    padding-left: 10px;
    }
    .about-company-container h4{
        text-align: justify;
    }
    .about-company-container p{
        text-align: justify;
    }
    .form-container{
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .message-container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .container-input{
        gap: 0px;
    }
    form button {
    width: 100%;
    padding: 5px;
    }
    .result-container{
        width: 94%;
    }
    .footer-right{
    display: flex;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 5px;
    }
    .text-container li {
    width: auto;
    font-weight: normal;
    padding-right: 10px;
    }
    .photo-container button{
    height: 20%;
    background-color: transparent;
    border:  none;
    
    }
    .photo-banner{
    width: 430px;
    height: 430px;
    }
}
